@import "bootstrap/_functions"
@import "bootstrap/_variables"
@import "bootstrap/mixins/_breakpoints"

$font-stack: Helvetica, sans-serif
$font-hack: Hack, monospace
$color-green: rgb(7, 255, 60)
$color-purple: rgb(147, 112, 216)

/* SMARTPHONE */
@include media-breakpoint-down(sm)
  /* BODY PART */
  body
    font: 100% $font-stack
    background-color: rgb(20, 18, 22)

  body::before
      content: ""
      position: fixed
      top: -10px
      left: 0
      width: 100%
      height: 10px
      box-shadow: 0px 0 30px rgba(0, 255, 128, 0.8)
      z-index: 100

  /* H title */
  h1.hack
    font-family: $font-hack
    color: $color-purple
    
  
  /* CONSOLE TYPING */
  .blinker
    opacity: 1
    margin-bottom: -2px
    height: 15px
    margin-left: -5px
    border-left: 7px solid yellow
    animation: blinker 0.9s steps(2, start) infinite

  @keyframes blinker
    to
      visibility: hidden
    
  .typeing
    font-family: $font-hack
    color: lightgreen
    text-shadow: 0px 1px 13px rgba($color-green, .7)

  /* NAVIGATION BAR */
  .nav-shadow 
    text-shadow: 0px 1px 13px rgba($color-purple, .5)
  a.nav-effect 
    /*transition*/
    -webkit-transition: 0.5s all ease
    -moz-transition: 0.5s all ease
    -o-transition: 0.5s all ease
    transition: 0.5s all ease
    &:hover
      color: #fff
      text-shadow: 0 0 100px #666,
      0 0 100px #666,
      0 0 100px #666,
      0 0 100px #666,
      0 0 100px #666,
      0 0 50px #000,
      0 0 50px #000,
      0 0 50px #000,
      0 0 50px #000,
      0 0 50px #000

  /* Font Awesome */
  .fa-globe
    text-shadow: 0px 1px 13px rgba($color-purple, .5);
    -webkit-transition: 0.5s all ease
    -moz-transition: 0.5s all ease
    -o-transition: 0.5s all ease
    transition: 0.5s all ease
    &:hover
      color: #fff
      text-shadow: 0 0 25px #666,
      0 0 25px #666,
      0 0 25px #666,
      0 0 25px #666,
      0 0 25px #666,
      0 0 12px #000,
      0 0 12px #000,
      0 0 12px #000,
      0 0 12px #000,
      0 0 12px #000
  
  /* Media format */
  
  .img-logo
    width: 75px
  
  .img-resize
    width: 200px
  
  img.portrait
    transition: transform 0.25s ease
    width: 200px
    margin-left: 20%
    &:hover
      -webkit-transform: scale(1.1)
      transform: scale(1.1)

  img.media_description 
    transition: transform 0.25s ease
    &:hover
      -webkit-transform: scale(1.5)
      transform: scale(1.5)
  .faicon
    font-size: 2.5rem 
    width: 30%
    margin: 0 auto
  /* Media MODAL */
  .modal, body.modal-open 
    padding-right: 0 !important

  body.modal-open
    overflow: auto

  body.scrollable
    overflow-y: auto

  .modal-footer
    display: flex;
    justify-content: flex-start
    .btn 
      position: absolute;
      right: 10px;
  
  /* SPACE */
  .space_tag
    margin-top: 5%
  
  .space_top
    margin-top: 50px
  
  .media_spacer
    margin-top: 5%

  .title_spacer
    margin-top: 10%
    
  p.media_description
    text-align: justify
  /* Hr separator */
  hr
    border: none
    height: 20px
    width: 90%
    height: 50px
    margin-top: 0
    border-bottom: 1px solid rgba(0, 0, 0, 0.8)
    box-shadow: 0 20px 20px -20px rgba($color-green, .8)
    margin: -50px auto 10px

/* DESKTOP SCREEN lg */
@include media-breakpoint-between(md, lg)
  /* BODY PART */
  body
    font: 100% $font-stack
    background-color: rgb(20, 18, 22)

  body::before
      content: ""
      position: fixed
      top: -10px
      left: 0
      width: 100%
      height: 10px
      box-shadow: 0px 0 30px rgba(0, 255, 128, 0.8)
      z-index: 100

  /* H title */
  h1.hack
    font-family: $font-hack
    color: $color-purple
  
  /* CONSOLE TYPING */
  .blinker
    opacity: 1
    margin-bottom: -2px
    height: 15px
    margin-left: -5px
    border-left: 7px solid yellow
    animation: blinker 0.9s steps(2, start) infinite

  @keyframes blinker
    to
      visibility: hidden
    
  .typeing
    font-family: $font-hack
    color: lightgreen
    text-shadow: 0px 1px 13px rgba($color-green, .7)

  /* NAVIGATION BAR */
  .nav-shadow 
    text-shadow: 0px 1px 13px rgba($color-purple, .5)
  a.nav-effect 
    /*transition*/
    -webkit-transition: 0.5s all ease
    -moz-transition: 0.5s all ease
    -o-transition: 0.5s all ease
    transition: 0.5s all ease
    &:hover
      color: #fff
      text-shadow: 0 0 100px #666,
      0 0 100px #666,
      0 0 100px #666,
      0 0 100px #666,
      0 0 100px #666,
      0 0 50px #000,
      0 0 50px #000,
      0 0 50px #000,
      0 0 50px #000,
      0 0 50px #000

  /* Font Awesome */
  .fa-globe
    text-shadow: 0px 1px 13px rgba($color-purple, .5);
    -webkit-transition: 0.5s all ease
    -moz-transition: 0.5s all ease
    -o-transition: 0.5s all ease
    transition: 0.5s all ease
    &:hover
      color: #fff
      text-shadow: 0 0 25px #666,
      0 0 25px #666,
      0 0 25px #666,
      0 0 25px #666,
      0 0 25px #666,
      0 0 12px #000,
      0 0 12px #000,
      0 0 12px #000,
      0 0 12px #000,
      0 0 12px #000
  
  /* Media format */
  
  .img-logo
    width: 75px
  
  .img-resize
    width: 200px
  
  img.portrait
    transition: transform 0.25s ease
    max-width: 300px
    &:hover
      -webkit-transform: scale(1.1);
      transform: scale(1.1);

  img.media_description 
    transition: transform 0.25s ease
    &:hover
      -webkit-transform: scale(1.5)
      transform: scale(1.5)

  /* Media MODAL */
  .modal, body.modal-open 
    padding-right: 0 !important

  body.modal-open
    overflow: auto

  body.scrollable
    overflow-y: auto

  .modal-footer
    display: flex;
    justify-content: flex-start
    .btn 
      right: 10px;
  
  /* SPACE */
  .space_tag
    margin-top: 5%
  
  #space_top
    margin-top: 100px
  
  .media_spacer
    margin-top: 5%

  /* Hr separator */
  hr
    border: none
    height: 20px
    width: 90%
    height: 50px
    margin-top: 0
    border-bottom: 1px solid rgba(0, 0, 0, 0.8)
    box-shadow: 0 20px 20px -20px rgba($color-green, .8)
    margin: -50px auto 10px
  
/* DESKTOP SCREEN Xl */
@include media-breakpoint-only(xl)
  /* BODY PART */
  body
    font: 100% $font-stack
    background-color: rgb(20, 18, 22)

  body::before
      content: ""
      position: fixed
      top: -10px
      left: 0
      width: 100%
      height: 10px
      box-shadow: 0px 0 30px rgba(0, 255, 128, 0.8)
      z-index: 100

  /* H title */
  h1.hack
    font-family: $font-hack
    color: $color-purple
  
  /* CONSOLE TYPING */
  .blinker
    opacity: 1
    margin-bottom: -2px
    height: 15px
    margin-left: -5px
    border-left: 7px solid yellow
    animation: blinker 0.9s steps(2, start) infinite

  @keyframes blinker
    to
      visibility: hidden
    
  .typeing
    font-family: $font-hack
    color: lightgreen
    text-shadow: 0px 1px 13px rgba($color-green, .7)

  /* NAVIGATION BAR */
  .nav-shadow 
    text-shadow: 0px 1px 13px rgba($color-purple, .5)
  a.nav-effect 
    /*transition*/
    -webkit-transition: 0.5s all ease
    -moz-transition: 0.5s all ease
    -o-transition: 0.5s all ease
    transition: 0.5s all ease
    &:hover
      color: #fff
      text-shadow: 0 0 100px #666,
      0 0 100px #666,
      0 0 100px #666,
      0 0 100px #666,
      0 0 100px #666,
      0 0 50px #000,
      0 0 50px #000,
      0 0 50px #000,
      0 0 50px #000,
      0 0 50px #000

  /* Font Awesome */
  .fa-globe
    text-shadow: 0px 1px 13px rgba($color-purple, .5);
    -webkit-transition: 0.5s all ease
    -moz-transition: 0.5s all ease
    -o-transition: 0.5s all ease
    transition: 0.5s all ease
    &:hover
      color: #fff
      text-shadow: 0 0 25px #666,
      0 0 25px #666,
      0 0 25px #666,
      0 0 25px #666,
      0 0 25px #666,
      0 0 12px #000,
      0 0 12px #000,
      0 0 12px #000,
      0 0 12px #000,
      0 0 12px #000
  
  /* Media format */
  
  .img-logo
    width: 75px
  
  .img-resize
    width: 200px
  
  img.portrait
    transition: transform 0.25s ease
    max-width: 300px
    &:hover
      -webkit-transform: scale(1.1);
      transform: scale(1.1);

  img.media_description 
    max-width: 300px
    transition: transform 0.25s ease
    &:hover
      -webkit-transform: scale(1.5)
      transform: scale(1.5)

  /* Media MODAL */
  .modal, body.modal-open 
    padding-right: 0 !important

  body.modal-open
    overflow: auto

  body.scrollable
    overflow-y: auto

  .modal-footer
    display: flex;
    justify-content: flex-start
    .btn 
      right: 10px;
  
  /* SPACE */
  .space_tag
    margin-top: 5%
  
  #space_top
    margin-top: 100px
  
  .media_spacer
    margin-top: 5%

  /* Hr separator */
  hr
    border: none
    height: 20px
    width: 90%
    height: 50px
    margin-top: 0
    border-bottom: 1px solid rgba(0, 0, 0, 0.8)
    box-shadow: 0 20px 20px -20px rgba($color-green, .8)
    margin: -50px auto 10px
